################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Scheduler/obj
/SchedulerTests/obj
/Scheduler/bin
/SchedulerTests/bin
